# application's variables
APP_ENV=prod
APP_DEBUG=0
APP_SECRET=9209b111dc0debc6efa2b6389b617228
DATABASE_URL=postgresql://app_user:app_pass@db:5432/app?serverVersion=11&charset=utf8

# PHP variables
OPCACHE_VALIDATE_TIMESTAMPS=0
OPCACHE_PRELOAD=/var/www/app/config/preload.php
OPCACHE_PRELOAD_USER=www-data

###> FEED_XSS_API ###
FEED_XSS_API="http://www.commitstrip.com/en/feed/"
###< FEED_XSS_API ###

###> API_NEWS ###
API_NEWS_API="https://newsapi.org/v2/top-headlines"
API_NEWS_COUNTRY="us"
API_NEWS_KEY="c782db1cd730403f88a544b75dc2d7a0"
###< API_NEWS ###

